@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    Country Info - Small web application to store and show some messages about countries<br />
    CHI - Web Application assignment<br />
    Author: <a href="mailto:bitbruno@gmail.com" >Bruno Cardoso</a><br />
    Using:<br /> 
    <a href="http://www.asp.net/mvc/mvc3" target="_blank">ASP .NET MVC 3</a><br />
    <a href="http://jquery.com/" target="_blank"> JQuery</a><br />
     <a href="http://davidlynch.org/projects/maphilight/docs/" target="_blank">jQuery maphighlight</a> 
</p>
