@model IEnumerable<CountryInfo.Models.Continent>
           
@{
    ViewBag.Title = "CountryInfo";
}

<h2>@ViewBag.Message</h2>


<div class="map">
    <img id="world_map" src="@Url.Content("~/Content/Images/world.png")" usemap="#world_map" border="0" width="800" height="400" alt="" />
    <map id="_world_map" name="world_map">
    @RenderPage(@Url.Content("~/Content/Maps/World.cshtml"))
    </map>
</div>
<div id="continent_list">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.Continent_Name, "CountryInfo", new { id = item.Continent_Name })
                </li>
            }
        </ul>
    </div>