@model IEnumerable<CountryInfo.Models.Continent>
           
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
<ul>
   @foreach (var item in Model) {
        <li>
          @Html.ActionLink(item.Continent_Name, "CountryInfo", new { id = item.Id })
        </li>
    }
</ul>
</p>
